* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.account {
  float: right;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #808080;
}

.open_sidebar {
  background: none;
  border: none;
}

.open_sidebar img {
  width: 130%;
}

.open_sidebar:hover {
  transform: scale(1.1);
}

.aside {
  background-color: #171717;
  float: left;
  width: 20%;
  height: 100vh;
  overflow-y: auto;
}

.aside .header_aside {
  display: flex;
  justify-content: space-between;
}

.aside .header_aside .new_chat,
.aside .header_aside .close_sidebar {
  background: none;
  border: none;
  width: 25%;
}

.aside .header_aside .new_chat img,
.aside .header_aside .close_sidebar img {
  width: 50%;
}

.aside .header_aside .new_chat:hover,
.aside .header_aside .close_sidebar:hover {
  transform: scale(1.1);
}

.aside .li {
  float: left;
  width: 100%;
  margin: 5px;
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  padding: 10px;
  background: #2F2F2F;
}

.aside .li :nth-last-child(1) {
  float: right;
}

.aside .li:hover {
  transform: scale(1.02);
}

.aside .li .nameAssistante {
  width: 88%;
  overflow: hidden;
  position: relative;
}

.aside .li .nameAssistante:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #2F2F2F 100%);
  pointer-events: none;
}

.aside .li .moreInfoButton {
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  padding: 10px;
}

body {
  background: #212121;
}

.main {
  display: flex;
  justify-content: center;
}

.main .container {
  position: relative;
}

.main .container .out_sms {
  display: flex;
  justify-content: end;
  height: 80vh;
  overflow: hidden auto;
  width: 100%;
  margin-bottom: 30px;
}

.main .container .out_sms .out {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 50%;
  width: 100%;
  border: none;
  word-break: break-all;
}

.main .container .out_sms .out p {
  display: block;
  max-width: 100%;
  padding: 16px;
  border-radius: 16px;
  margin: 4px;
  background: #2F2F2F;
  color: #fff;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
}

.main .scrollable::-webkit-scrollbar {
  background: none;
  width: 8px;
}

.main .scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2F2F2F;
}

.main .form_text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
}

.main .form_text .form-control {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 16px;
  background-color: #2F2F2F;
  color: #fff;
}

.main .form_text .message_input {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  border-radius: 50%;
  border: none;
  text-transform: uppercase;
  background: #676767;
  padding: 6px;
}

.modalBackground {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.modalBackground .modalActive {
  position: absolute;
  width: 350px;
  height: 495px;
  top: calc(50% - 250px);
  left: calc(50% - 175px);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: default;
  padding: 40px 20px;
}

.modalBackground .modalActive .modalClose {
  background: none;
  border: none;
  font-family: var(--font-regular);
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modalBackground .modalActive .modalClose img {
  margin: 3px;
  width: 24px;
  height: 24px;
}

.modalBackground .modalWindow {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalBackground .modalWindow label {
  margin: 10px 0;
}

.modalBackground .modalWindow input {
  background: #EBEBEB;
  border: none;
  padding: 6px;
  margin: 0 10px;
}

.modalBackground .modalWindow .selected {
  margin-top: 8px;
  padding: 10px;
  background: #EBEBEB;
  cursor: pointer;
  border: none;
}

.modalBackground .modalWindow #Link {
  color: #808080;
}

.modalBackground .modalWindow #version {
  display: none;
  width: 100%;
  z-index: 10;
  margin-top: 10px;
}

.modalBackground .modalWindow #version li {
  padding: 10px;
  cursor: pointer;
  list-style-type: none;
}

.modalBackground .create {
  border-radius: 6px;
  margin-top: 20px;
  padding: 6px;
  background: #e0e0e0;
  border: none;
  cursor: pointer;
}

.modalBackground .create:hover {
  transition: 0.6s;
  transform: scale(1.06);
}

.modalEdit {
  position: relative;
  z-index: 999;
}

.modalEdit .assistantOptions {
  position: fixed;
  background: #080808;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modalEdit .assistantOptions button {
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #141414;
  padding: 6px;
  cursor: pointer;
  margin-bottom: 4px;
}

.container {
  padding: 10px;
}

body {
  background: #212121;
}/*# sourceMappingURL=index.css.map */