@use "../abstracts" as *;

.aside {
    background-color: $cynicalBlack;
    float: left;
    width: 20%;
    height: 100vh;
    overflow-y: auto;

    .header_aside {
        display: flex;
        justify-content: space-between;

        .new_chat, 
        .close_sidebar {
            background: none;
            border: none;
            width: 25%;

            img {
                width: 50%;
            }
        }


        .new_chat:hover,
        .close_sidebar:hover {
            transform: scale(1.1);
        }
    }

    .li {
        float: left;
        width: 100%;
        margin: 5px;
        color: #fff;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 8px;
        align-items: center;
        padding: 10px;
        background: $darkCharcoal;

        :nth-last-child(1) {
            float: right;
        }

        &:hover {
            transform: scale(1.02);
        }

        .nameAssistante {
            width: 88%;
            overflow: hidden;
            position: relative;

            &:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 16%;
                height: 1.2em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), $darkCharcoal 100%);
                pointer-events: none;
            }
        }


        .moreInfoButton{
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}






