@use "../abstracts" as *;

.aside {
    background-color: $cynicalBlack;
    float: left;
    width: 20%;
    height: 100vh;
    overflow-y: auto;

    .header_aside {
        display: flex;
        justify-content: space-between;

        .new_chat, 
        .close_sidebar {
            background: none;
            border: none;
            width: 25%;

            img {
                width: 50%;
            }
        }

        .new_chat:hover,
        .close_sidebar:hover {
            transform: scale(1.1);
        }
    }

    .li {
        float: left;
        width: 100%;
        margin: 5px;
        color: #fff;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 8px;
        align-items: center;
        padding: 10px;

        :nth-last-child(1) {
            float: right;
        }

        &:hover{
            background: $darkCharcoal;
        }

        .moreInfoButton{
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}






